################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GuiaEfRazorAxios/bin/Debug/net8.0
/GuiaEfRazorAxios/.vs/GuiaEfRazorAxios
/GuiaEfRazorAxios/obj
/GuiaEfRazorAxios/.vs/ProjectEvaluation
/GuiaEfRazorAxios/GuiaEfRazorAxios.Tests/bin/Debug/net8.0
/GuiaEfRazorAxios/GuiaEfRazorAxios.Tests/obj
